Swetha KJ Pallikaranai, Chennai
Specialist +91 7550015598
Jeyadevan.swetha@gmail.com
linkedin.com/in/swethajeyadevan-52425481
PROFILE
Passionate technocrat having 3.4 years’ experience as Automation Engineer with the role
of Specialist looking to obtain a position that challenges me and provides me the opportunity to
reach my full potential professionally and personally.
TECHNICAL SUMMARY
• Developing scripts for build, deployment and maintenance related tasks using
PowerShell and Bash.
• Key member in robot development and managing assets in orchestrator in
UiPath
• Wrote custom monitoring and integrated monitoring methods into deployment processes
to develop self-healing solutions using Powershell and Bash.
• Developing custom reporting tools, setting up automated health monitoring and alerting
for builds and environments using HTML, PHP and Powershell.
• Worked extensively using Shell Script, Powershell and Truesight Orchestrator for
customer required automated process for Operating System builds and deployments.
SKILLS & CERTIFICATIONS
• UiPath Certified RPA Developer
• BMC Certified Associate - Atrium Orchestrator (Truesight Orchestrator)
• Linux/Windows System Administration
• PowerShell
• Shell Scripting
• Truesight Orchestrator/SCORCH/VRO
• Database : MSSQL
• Project Management / Team Management
EXPERIENCE
2016-09 – Present: Specialist | HCL Technologies
• Environment: Windows, UNIX/Linux, Storage
• UiPath Development (Pilot Use-Case), Lean Applicability and Project Management
• Responsibilities and Achievements:
o Identifying UiPath use case, assess and gather requirement of the process
o Developing the robot with team
o Creating Assets and configuring bots in Orchestrator
o Scheduling bots, managing tasks and monitoring logs generated by bots
o Creating new PowerShell, Perl scripts for server administration and application
builds and deployments
o Creating workflows that achieve end-to-end automation using Atrium
Orchestrator
o Designing and implementing new features such as load balancing and O/S level
performance monitoring, tuning and reporting
o Creating tools for monitoring/reporting - harvesting data from various sources and
API’s (Service Now)
o Management of team in complete lifecycle of a project
o Cost reduction to the client by up-to $6.2 billion/yr
2016-06 – 2016-09: Associate | Vdart Software Services
• Script based automation of L1 level tickets in the operations end using powershell and
shell scripting
• Gathering requirements from accounts and analysis of scope for automation
• Saved nearly 100+ hours (per month) of resources by automating 85+ linux
administration tasks
EDUCATION
MBA Project Management | Alagappa University
AUGUST 2016 – MAY 2018
B.E Computer Science and Engineering | Dhanalakshmi College of Engineering
AUGUST 2012 – MAY 2016
ACKNOWLEDGEMENT
I hereby declare that the information furnished above is true to the best of my knowledge.
Yours Sincerely,
Date:
Place: (Swetha KJ)
